@charset "UTF-8";

@media screen and (max-width: 950px){
    .conteudo-principal {
        margin: 0px 20px;
    }
}

@media screen and (max-width: 850px){
    .conteudo-principal-escrito-titulo {
        font-size: 45px;
    }

    .conteudo-principal-imagem {
        height: 350px;
    }
}

@media screen and (max-width: 665px){
    .conteudo {
        text-align: center;
        margin: 0px 10px;
    }
    .conteudo-principal {
        flex-wrap: wrap;
    }

    .conteudo-principal-escrito {
        align-items: center;
        margin-top: 30px;
    }

    .cabecalho-menu-item {
        background-color: rgba(41, 34, 34, 0.772);
    }

    .cabecalho-menu-item:hover {
        background-color: rgba(58, 49, 49, 0.772);
    }

    .conteudo-secundario {
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 610px){
    .cabecalho {
        gap: 20px;
    }
}

@media screen and (max-width: 455px){
    .cabecalho {
        justify-content: center;
        padding: 24px 15px 20px 15px;
    }

    ion-icon {
        display: block;
        color: white;
        width: 100%;
        font-size: 50px;
        cursor: pointer;
    }

    .cabecalho-menu {
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
    }

    .hide {
        display: none;
    }

    .cabecalho-menu-item {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 368px){
    .conteudo-principal-imagem {
        height: 280px;
    }
}